# Base de données
db.sqlite3

# Variables d'environnement
.env
.env.local
.env.production

# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Media uploadés
media/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db